* {
    box-sizing: border-box;
}

body {
    color:#333;
max-width:800px;
margin:auto;
background-color: lightcyan;
}

a:hover {color:red}

h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {font-size: 18px;}

h2,h3 {font-style:italic;}

header img {
    float:left;
    margin-right: 20px;
}
header h1 {
    padding-top:8px;
}

#nice {color:red;
text-decoration:underline black;}

p, aside {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


footer {
    margin-top:18px;
}

footer p {
    margin:0;
    padding:0;
    font-style: italic;
    font-size:11px;
}

li {
    list-style:square;
}

.kitten {
    display:inline;
    float:left;
    margin: 0 20px 10px 0;
}

.square {
    background-color: green;
    height:250px;
    width:250px;
    margin:10px;
    padding:10px;
    border: 2px dotted lightseagreen;
}

/**aside {
    min-width:150px;
    width:30%;
    float:right;
}

div.content {
    width:70%;
    float:left;
}**/